{% extends 'base.html' %}

{% block content %}
<body>
    <div class="container-fluid">
        <div class="card-deck p-3">
            <div class="container-fluid">
                <div class="row">
                    {% for l in liste %}
                    <div class="col-12 col-xl-3 col-lg-4 col-md-4 col-sm-6 mb-3">
                        <div class="card text-dark bg-light h-100">
                                  <img class="card-img-top" src="{{ l.Lista.LOGO_LISTA|e }}" alt="card img cap">
                                    <div class="card-body">

                                        {% for c in candidati %}

                                            {% if c.Candidato.FK_ID_LISTA == l.Lista.ID_LISTA %}
                                            <div class="custom-control custom-radio">
                                                <input data-lista="{{ l.Lista.ID_LISTA }}" type="radio" class="custom-control-input" value="{{ c.Candidato.ID_CANDIDATO|e }}" id="{{ c.Candidato.ID_CANDIDATO|e }}" name="check-candidato">
                                                <label class="custom-control-label" for="{{ c.Candidato.ID_CANDIDATO|e }}">
                                                    {{ c.NOME|e + ' ' + c.COGNOME|e }}
                                                </label>
                                             </div>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                            <meta name="user" content="{{ g.user }}">
                            <button data-lista="{{ l.Lista.ID_LISTA }}" class="btn btn-primary m-2" value="{{ l.Lista.ID_LISTA }}" name="bottone-id-lista" formmethod="post">Vota</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    $(function() {
       $("button[name='bottone-id-lista']").click(function (e) {
           e.preventDefault();
           var radioSelezionato = $("input[name='check-candidato']:checked");
           var user = $("meta[name='user']").attr('content');
           console.log(radioSelezionato);
           lista = $(this).attr("data-lista");
           if (radioSelezionato.length === 1 && radioSelezionato.attr("data-lista") != lista){
               alert("Non puoi fare un voto disgiunto per la seguente elezione!");
               return ;
           }
           var candidato = "";
           if (radioSelezionato.length === 1){
               candidato=radioSelezionato.val();
               $.ajax({
                    url: '/voto/',
                    data: {user:user, id_candidato:candidato, id_lista:lista},
                    type: 'POST',
                    success: function(response){
                            alert(response);
                    },
                    error: function(error){
                            alert(error);
                    }
            });

           }
           if (radioSelezionato.length === 0){
               $.ajax({
                    url: '/voto/',
                    data: {user:user, id_candidato:candidato, id_lista:lista},
                    type: 'POST',
                    success: function(response){
                            alert(response);
                    },
                    error: function(error){
                            alert(error);
                    }
            });

           }
       });
    });
</script>

{% endblock %}
